In [3]:
import pandas as pd
data = pd.read_csv('result-titles_mon33.csv')

In [4]:
data.describe()

       depth  download_timeout  download_latency
count  120.0             120.0        120.000000
mean     1.0             180.0          0.201835
std      0.0               0.0          0.129550
min      1.0             180.0          0.103662
25%      1.0             180.0          0.144282
50%      1.0             180.0          0.169825
75%      1.0             180.0          0.205683
max      1.0             180.0          0.737466

In [ ]:
# further data analysis can be done here